<div id="kitties">  <!--slideshow-container -->

    <div class="kitty onscreen">  <!-- mySlides fade -->
        <img src="/carousel/petition/palestine1.jpg">
    </div>

    <div class="kitty">   <!-- mySlides fade -->
        <img src="carousel/petition/palestine2.jpg">
    </div>

    <div class="kitty">    <!-- mySlides fade -->
        <img src="carousel/petition/palestine3.jpg">
    </div>

    <div class="kitty">  <!-- mySlides fade -->
        <img src="carousel/petition/palestine4.jpg">
    </div>
    <div class="kitty">  <!-- mySlides fade -->
        <img src="carousel/petition/palestine5.jpg">
    </div>
    <div class="kitty">  <!-- mySlides fade -->
        <img src="carousel/petition/tamimi1.jpg">
    </div>
    <div class="kitty">  <!-- mySlides fade -->
        <img src="carousel/petition/tamimi2.jpg">
    </div>

    <div id="dots">
      <span class="dot highlight"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

</div>

<script src="carousel/carousel.js"></script>
