<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Petition</title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <audio src="imgs/myHome.mp3" autoplay loop>
</audio>
    {{{ body }}}
  </body>
</html>
