<div class="profile-text">
<h1>Could you honor us by telling us just a little bit about yourself.</h1>
</div>

<div class="profile-page">

<div class="profile-inputs">
<form method="post">
    <div><input class="input profile-input" type="text" name="age" placeholder="Age"></div>
    <div><input class="input profile-input" type="text" name="city" placeholder="City"></div>
    <div><input class="input profile-input" type="text" name="url" placeholder="Homepage"></div></br></br>
</div>
    <button class="sign-button profile-continue" type="submit">Continue</button> <div class="profile-logout">{{> logout }}</div>
</form>
</div>
</div>
