<div class="signed-text">
  <h1>Thanks for signing our petition.... You are a FREE person</h1>
</div>

<div class="signed-page">



<div>
<img class="signature" src="{{signature}}" alt="user signature"></br></br>
</div>

<div class="signed-links">
<a href="./signers">See all {{count}} signers</a></br>
<a href="./profile/edit">Edit your profile</a></br>
<a href="./deleteSignature">Delete your signature</a></br></br>
</div>
<div class="signed-logout">
{{> logout }}
</div>
</div>
