<div class="sign-text">
<h1>We are so happy to have you here :) ...</h1>
</div>

<div class="sign-page">

<div class="sign-inputs">
<form method="post">
    <input id="hidden-input" name= "hidden" type="hidden">
    <canvas id="canvas"></canvas></br>
  </div>
  <div class="sign-buttons">
    <button class="sign-button" type="submit">Sign</button></br><div class="sign-logout">{{> logout }}</div>
</div>
</form></br>


</div>
<script src = "/script.js" type="text/javascript"></script>
